name: tropigo

services:
  postgres:
    image: postgres:18.1-alpine3.22
    container_name: tropigo-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-tropigo}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - tropigo-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # TropiGo API Service
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    container_name: tropigo-api
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 8060
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgres:5432/${POSTGRES_DB:-tropigo}
      GOOGLE_GENERATIVE_AI_API_KEY: ${GOOGLE_GENERATIVE_AI_API_KEY}
    ports:
      - "8060:8060"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - tropigo-network

  # TropiGo UI Service
  ui:
    build:
      context: .
      dockerfile: ./apps/ui/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL:-http://api:8060/api}
    container_name: tropigo-ui
    restart: unless-stopped
    ports:
      - "8070:8070"
    depends_on:
      - api
    networks:
      - tropigo-network

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml
    networks:
      - tropigo-network

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_FEATURE_TOGGLES_ENABLE=alertingSimplifiedRouting,alertingQueryAndExpressionsStepMode
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - tropigo-network

volumes:
  postgres_data:


networks:
  tropigo-network:
